.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__title {
  color: black;
  max-width: 729px;
  margin: 202px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  z-index: 0;
  padding-left: 0;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  display: block;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 28px;
  z-index: 1;
  margin-bottom: 0;
  margin-top: 0;
}

.header__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 0;
}

.header__hours {
  list-style: none;
  padding: 0;
}

.header__paragraph {
  font-family: "Inter", "Times New Roman" serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 45px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  left: 0px;
  padding-left: 80px;
  padding-right: 80px;
  bottom: 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
